<div class="container">
	<h1>BRETT MEMSIC</h1></br></br>
		<p>founder of <a href="http://snapstarter.com/" id="snap">snapstarter </a>&bull; hash#tag non#conf#orm#ist</p>
	</br></br></br><hr>
	<p><span>connect via</span> 
		<a href="mailto:brett@snapstarter.com?subject=Hey Brett" id="email">email </a>
		<a href="http://twitter.com/memsic" id="tweet">twitter</a>
		<a href="http://linkedin.com/in/memsic" id="linked">linkedin </a>
		<a href="http://facebook.com/memsic" id="fb">facebook </a>
	</p>
</div>