<div class="container">
	<h1> BRETT MEMSIC </h1></br>
		<p>Founder of <a href="http://snapstarter.com/" id="snap">Snapstarter</a>. Fledgling Rails hacker.</p>
		</br>
	
		<p>Spastic <a href="mailto:brett@snapstarter.com" id="mail">email</a> checker. Sporadic 
			<a href="http://twitter.com/memsic" id="tweet">tweeter</a>.</p>
		</br>
	
		<p><a href="http://linkedin.com/in/memsic" id="link">Connect</a>. 
			<a href="http://facebook.com/memsic" id="fb">Poke</a>.</p>
		</br>
	</div>
</div>