@import "bootstrap";

/* mixins, variables, etc. */

/* universal */

html {
  height: 100%;
}

body {
  padding-top: 250px;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #E6E6E6 0%, #C3CDD4 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #E6E6E6 0%, #C3CDD4 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #E6E6E6 0%, #C3CDD4 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E6E6E6), color-stop(1, #C3CDD4));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #E6E6E6 0%, #C3CDD4 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #E6E6E6 0%, #C3CDD4 100%);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

hr {
  width: 80%;
  margin: 15px auto;
}

img {
  padding: 5px;

	&#linked {
    margin-bottom: 6px;
	}
}

/* typography */


h1 {
	font-family: 'Asap', sans-serif;
	font-size: 30px;
	text-align: center;
	letter-spacing: 12px;
	text-shadow:
	-1px -1px 0 #F0EFEF,
	1px -1px 0 #F0EFEF,
	-1px 1px 0 #F0EFEF,
	1px 1px 0 #F0EFEF;
	color: #525151;
}

p {
    font-family: 'Asap', sans-serif;
	font-size: 20px;
	text-align: center;
	letter-spacing: 5px;
	color: #525151;
}

a {
    font-weight: bold;
	color: #333333;
	-moz-transition: 0.5s ease-out;
	-webkit-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
	
    &#snap {
      color: #E3701A;

		&#snap:hover {
			text-shadow:
			-1px -1px 0 #F0EFEF,
			1px -1px 0 #F0EFEF,
			-1px 1px 0 #F0EFEF,
			1px 1px 0 #F0EFEF;
			text-decoration: none;
	   	}
	}
}
	
a#email {
	color: #C31E0D;
}

a#email:hover {
	text-shadow:
	-1px -1px 0 #F0EFEF,
	1px -1px 0 #F0EFEF,
	-1px 1px 0 #F0EFEF,
	1px 1px 0 #F0EFEF;
	text-decoration: none;
}

a#tweet {
	color: #33CCFF;
}

a#tweet:hover{
   	text-shadow:
	-1px -1px 0 #F0EFEF,
	1px -1px 0 #F0EFEF,
	-1px 1px 0 #F0EFEF,
	1px 1px 0 #F0EFEF;
	text-decoration: none;
}

a#linked {
	color: #4875B4;
}

a#linked:hover {
    text-shadow:
	-1px -1px 0 #F0EFEF,
	1px -1px 0 #F0EFEF,
	-1px 1px 0 #F0EFEF,
	1px 1px 0 #F0EFEF;
	text-decoration: none;
}

a#fb {
	color: #3B5998;
}

a#fb:hover {
	text-shadow:
	-1px -1px 0 #F0EFEF,
	1px -1px 0 #F0EFEF,
	-1px 1px 0 #F0EFEF,
	1px 1px 0 #F0EFEF;
	text-decoration: none;
}