<!DOCTYPE html>
<html>
<head>
	
  <title>Brett Memsic</title>
  <meta name="description" content="Homepage for Brett Memsic.">
  <meta name="author" content="Brett Memsic">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
 
<%= csrf_meta_tags %>
	
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Typekit -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

</body>
</html>
